/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {outline:none;border:none;}
button:focus {outline:1px solid rgba(255,200,100,0.5);outline-offset:-1px;}

/*=====================================================================================
BASE
=======================================================================================*/
html,body
{
	width:100%;
	height:100%;
    font-family: Arial, sans-serif;
}

#game-container {
	width:100%;
	height:100%;
	position:relative;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	transform-origin:0 0;
}

header {
    display: block;
    height: 15%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border: 1px solid red;
}

#user-options {
}

#resources {
    position: relative;
    height: 5%;  /*adjust this value as needed */
    border: 1px solid red;
    font-size: 50%;
}

#resources>div {
    position: relative;
    width: 10%;  /*adjust this value as needed */
    float: left;  /*align divs horizontally */
}

#food-container {
}

#materials-container {
}

#luxuries-container {
}

#science-container {
}

#population-container {
}

main {
    position: relative; /*added to account for the header height */
    width: 100%;
    height: 75%; /*adjusted to account for the resources block */
    font-size:80%;
    text-align: center;
}

.column {
    position: absolute;
}

#left-column, #right-column {
    height: 100%;
    width: 10%;
}

#left-column {
    left: 0;
}

#right-column {
    left: 90%;
}

#left-info, #right-info {
    height: 100%;
    width: 25%;
}

#left-info {
    left: 10%;
}

#right-info {
    left: 65%;
}

#center-column {
    left: 35%;
    height: 100%;
    width: 30%;
}

#body {
}

footer {
    display: block;
    height: 15%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}
